header {
    height: 10vh;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 2;

    background-color: #000;
    border-bottom: solid 1px white;
}

header .container {
    align-items: center;
    justify-content: space-between;
}


.divDireita {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 55%;
}

.divDireita a {
    text-decoration: none;
    color: white;
}


#logoGBA {
    height: 8vh;
    width: 8vh;
}

#heaList li {
    float: left;
}

#heaList {
    display: flex;
    gap: 2vw;

    width: fit-content;

    list-style-type: none;
}

#heaList a {
    text-align: center;

    text-decoration: none;

    color: white;
}

#heaList a:hover {
    color: gray;
}

.vl {
    border-left: 1px solid white;
    height: 70%;
}

#aCadastro {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 10%;
    background-color: white;
}

#aCadastro:hover {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 10%;
    border: solid 1px white;
}

#aLogin {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 10%;
    border: solid 1px white;
}

#aLogin:hover {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 10%;
    background-color: white;
}

#user {
    height: 3vh;
}

#chart {
    height: 3vh;
}

.dropDown {
    display: none;
    background-color: black;
}

#user:hover .dropDown {
    display: block;
}

#nomeUsuario {
    color: white;
}

#pLogout {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    height: 40%;
    width: 10%;
    border: solid 1px white;
}

#pLogout:hover {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 10%;
    background-color: white;
}