/* CARROSSEL */
.divCarrossel {
    width: 100%;
    height: 70vh;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 62vw;
    height: 68vh;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.cards {
    width: 100%;
    height: 100%;
    margin-bottom: 1vh;

    padding-top: 1vh;
}

.divCarrossel img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item1:checked~.cards #img3,
#item2:checked~.cards #img1,
#item3:checked~.cards #img2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item1:checked~.cards #img2,
#item2:checked~.cards #img3,
#item3:checked~.cards #img1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item1:checked~.cards #img1,
#item2:checked~.cards #img2,
#item3:checked~.cards #img3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/* CARRROSSEL */

#presencial {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    margin: auto;

    height: 40%;
    width: 50%;
    border: solid 2px black;
    color: #000;
}

#presencial:hover {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;


    height: 40%;
    width: 50%;
    background-color: black;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    margin: auto;

    height: 40%;
    width: 50%;
    border: solid 2px black;
    color: #000;
}

#login:hover {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;


    height: 40%;
    width: 50%;
    background-color: black;
}